@import 'antd/dist/antd.css';
body::-webkit-scrollbar {
    width: 0.7rem;           
  }
body::-webkit-scrollbar-track {
  background: #ffffff;    
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;      
}
body {
  font-family: 'ChFuturis';
}



/* Components content css */
.ant-steps-item-title {
  color: white!important;
  font-weight: 500;
}
.ant-steps-item-description {
  color: white!important; 
}
.ant-steps-icon-dot{
  background-color: #7788c4!important;
}
.ant-steps-item-tail::after{
  background: #7788c4!important
}

